/* Parent container for LearnMore */
.learnMoreContainer {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0 10vw;
}

.learnChild {
    display: flex;
}

.learnParagraph {
    width: 70vw;
    margin: 0 10vw;
}
.learnMoreContainer > div  > img {
    height: 40px;
    width: 40px;
}

.btnContainer {
    display: flex;
    justify-content: center;
}