




/*********************************************************************/
/********************** GOOGLE MAP CONTAINER *************************/
/*********************************************************************/
.stepOneContainer {
    width: 100vw;
    /* height: 100vh; */
}

.mapContainer {
    position: relative;
    width: 80vw;
    height: 200px;
    display: inline-block;
    margin: 10px 10vw;
  }
  
  .mapContainer > div > div {
    height: 100% !important;
    width: 80vw !important;
  }
  
  .locatorContainer {
    display: inline-block;
    width: 80vw;
    margin: 0 10vw;
    border: 1px solid #adadad;
    border-radius: 5px;
  }

  .gm-style{
    width: 50vw;
    height: 50vw;
  }
  
  .locationContainer {
      top: 0;

      width: 80vw;
      margin: 0 10vw;
      /* margin: 1rem 5rem; */
      display: inline-block;
  }
  .locationContainer > textarea {
    border: 1px solid #adadad;
    border-radius: 5px;
    display: inline-block;
    width: 80vw;
    height: 100px;
    /* margin: 0 10vw; */
  }

  .continueButton {
      width: 30vw;
      margin: 20px 35vw;
      color: white;
      height: 36px;
  }

  .gmnoprint {
      display: none;
  }
  .google-covert {
      color: blue
  }