




/*********************************************************************/
/********************** GOOGLE MAP CONTAINER *************************/
/*********************************************************************/
.stepOneContainer {
    width: 100vw;
    /* height: 100vh; */
}

.mapContainer {
    position: relative;
    width: 80vw;
    height: 200px;
    display: inline-block;
    margin: 10px 10vw;
  }
  
  .mapContainer > div > div {
    height: 100% !important;
    width: 80vw !important;
  }
  
    .gm-style{
      width: 50vw;
      height: 50vw;
    }
 

  .gmnoprint {
      display: none;
  }
  .google-covert {
      color: blue
  }

.location-box{
  margin: 12px 10vw 4px 10vw;
  width: 80vw;
}