.navbar-navigation {
    display: flex;
    flex-direction: row;
}

.nav-link {
    flex: 1;
    margin: 25px 0;
    font-family: Montserrat;
  font-size: 15.1px;
  font-weight: 400;
  color: black;
}

.fade-appear {
    opacity: 0;
    z-index: 1;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 300ms linear;
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear;
}