/* Form in StepTwo */
.stepTwoForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnTag {
    border-radius: 5px;
    border: solid 1px #979797;
    background: transparent;
}

.btnTag:selected {
    background-color: rgba(217, 84, 80, 0.5);
}

