@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
@import "../node_modules/bootstrap/dist/css/bootstrap.css";


html {
    font-family: 'Montserrat:400', sans-serif;
    height: 100vh;
    width: 100vw;
  }
  
  body {
    margin: 0;
    /* font-family: 'Montserrat:400', sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.form-control {
    text-align: center;
    width: 200px;
}

.table > *{
    text-align: center !important;
}






