/* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

html {
  font-family: 'Montserrat:600', sans-serif;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  font-family: 'Montserrat:600', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: 'Montserrat:600', sans-serif;
} */


/*********************************************************************/
/************************* Status Window *****************************/
/*********************************************************************/

.stepStatus {
  width: 80vw;
  height: 60px;
  margin: 0 10vw;
}

.stepStatus > span {
  display: inline-block;
  float: right;
  padding: 5px 0 0 6px;
  width: 75vw;
  text-align: left;
  /* margin-top: 20px; */
}

.stepStatus > div {
  /* top: 0; */
  padding: 3px;
  text-align: center;
  font-size: 12px;
  display: fixed;
  border-radius: 100px;
  background-color: rgb(215, 85, 85);
  display: inline-block;
  width: 5vw;
  height: 5vw;
}

/*********************************************************************/
/************************* Request  Form *****************************/
/*********************************************************************/

.requestContainer {
    top: 0;
    width: 80vw;
    margin: 0 10vw;
}

.requestContainer > textarea, .requestContainer > div > textarea, .requestContainer > input, .requestContainer > div > input {
  border: 1px solid #adadad;
  border-radius: 5px;
  display: inline-block;
  width: 80vw;
}

.requestContainer > input, .requestContainer > div > input {
  height: 40px;
}
.requestContainer > textarea, .requestContainer > div > textarea {
  height: 100px;
}

.requestContainer > section {
  width: 80vw;
  margin: 0 10vw;
}

.requestContainer > section > input, .requestContainer > section > span {
  display: inline-block;
  padding: 10px 5px;
}

.checkbox {
  max-height: 22px;
}

.continueButton {
    width: 30vw;
    margin: 20px 35vw;
    color: white;
    height: 36px;
    background-color: rgba(215, 85, 83, 1);
    color: black;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.volunteerButton {
  width: 30vw;
  margin: 20px 35vw;
  color: white;
  height: 36px;
  background-color: white;
  color: black;
  border-color: #d95450;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/*********************************************************************/
/*************************@  MOBILE DEVICE @**************************/
/*********************************************************************/
@media screen and (max-width: 640px) {

  /*********************************************************************/
  /**************************  GRID CONTAINER **************************/
  /*********************************************************************/
  .grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    position: relative;
    grid-template-columns: 100vw;
    grid-template-rows: 40px 40px 240px auto 5rem;
  grid-template-areas:
  ' status '
  ' header '
  ' logo '
  ' main '
  ' footer ';
    grid-gap: 0;
  }

  .grid-mobile {
    grid-area: status;
    width: 100vw;
    height: 40px;
    position: fixed;
    z-index: 500;
    text-align: center;
    padding-top: 9px;
    background-color: black;
  }

  .grid-desktop { 
    display: none
  }

  .grid-header { 
    grid-area: header; 
    width: 100vw;
    position: relative;
    z-index: 10;
    background-color: rgb(203, 63, 50);
    color: white;
  }

  .grid-header > div {
    display: inline-block;
    margin-block-start:  0;
    margin-block-end: 0;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: left;
  }

  .grid-logo { 
    grid-area: logo; 
    position: relative;
    text-align: center;
  }

  .grid-logo > h1 {
    display: block;
    font-family: Montserrat;
    font-size: 45px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 35px 10px 0 0;
    /* font-weight: bold; */
  }
  .grid-logo > h2 {
    display: block;
    font-family: Montserrat;
    font-size: 25px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 14px 20px;
    /* font-weight: bold; */
  }

  .grid-logo > span {
    font-family: Montserrat;
    font-size: 12.5px;
    margin: 14px 26px 20px 20px;

  }
  
  .grid-main { 
    grid-area: main; 
    /* margin-top: 50px; */
    position: relative;
    background-color: transparent;
  }

  .grid-footer { 
    grid-area: footer; 
    position: sticky;
    background-color: transparent;
  }


  /*********************************************************************/
  /*************************** NAVBAR BUTTON ***************************/
  /*********************************************************************/

  .navBar {
    padding: 8px;
  }

  .navBtn {
    padding: 11px;
    color: white;
    text-decoration: none;
  }

  .navBtn:hover {
    background-color: darkgrey;
  }

  .active {
    background-color: black;
  }

  /*********************************************************************/
  /*************************** HEADER BAR ******************************/
  /*********************************************************************/


  .top-left {
    width: 6vw;
    float: left;
    background-color: black;
  }

  .top-right {
    height: 40px;
    padding: 10px 26px;
    font-size: 14px;
    width: 100px;
    float: right;
    background-color: black;
  }

  .mid-left {
    padding: 2px 11px;
    width: 106px;
    max-height: 33px;
    margin-top: 10px !important;
    margin-left: 10px;
  }

  .mid-right {
  padding: 0 11px;
  width: auto;
  }

 
}


@media screen and (min-width: 641px) {
/*********************************************************************/
/*************************** SCALABLE GRID ***************************/
/*********************************************************************/
  .grid-container {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    position: relative;
    grid-template-columns: 100vw;
    grid-template-rows: 53px 130px auto 5rem;
  grid-template-areas:
    ' desktop '
    ' logo '
    ' main '
    ' footer ';
    grid-gap: 0;
  }

  .grid-header {
    display: none;
  }
  
  .grid-desktop { 
    grid-area: desktop; 
    width: 100vw;
    position: relative;
    z-index: 10;
    background-color: rgb(203, 63, 50);
    color: white;
  }

  .grid-desktop > div {
    min-width: 53px;
    display: inline-block;
    height: 53px;
    font-size: 18px;
    /* padding-top: .33125rem;
    padding-bottom: .33125rem; */
    /* margin-block-start:  0;
    margin-block-end: 0;
    font-family: "Open Sans",sans-serif;
      font-weight: 400;
      line-height: 1.5;
      color: #fff;
      text-align: left; */
  }

  .grid-logo { 
    grid-area: logo; 
    position: relative;
    text-align: center;
    /* background-color: rgb(215, 84, 82); */
  }
  .grid-logo > h1 {
    display: block;
    font-family: Montserrat;
    font-size: 45px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 10px 0;
    /* font-weight: bold; */
  }
  .grid-logo > h2 {
    display: block;
  font-family: Montserrat;
  font-size: 25.3px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 10px 0;
    /* font-weight: bold; */
  }

  .grid-logo > span {
    font-family: Montserrat;
  font-size: 12.5px;
  margin: 10px 0;

  }

  .grid-main { 
    grid-area: main; 
    position: relative;
    background-color: transparent;
  }

  .grid-footer { 
    grid-area: footer; 
    position: sticky;
    background-color: transparent;
  }


/*********************************************************************/
/*************************** NAVBAR BUTTON ***************************/
/*********************************************************************/

  .navBar {
    /* background-color: orange; */
    /* margin: 0; */
    padding: 8px;
  }

  .navBtn {
    /* background-color: yellow; */
    /* display: block; */
    /* margin: 0; */
    padding: 11px;
    color: black;
    text-decoration: none;
  }

  .navBtn:hover {
  background-color: darkgrey;

  }

  .active {
    /* color: white; */
    background-color: black;
  }

  /* .headerBlack {
    background-color: black;
  } */

  /*********************************************************************/
  /*************************** HEADER BAR ******************************/
  /*********************************************************************/


  .top-left {
    text-align: center;
    width: 6vw;
    float: left;
    background-color: black;
    
  }

  .top-right {
    padding: 14px 45px;
    font-size: 33px;
    width: 150px;
    float: right;
    background-color: black;
  }

  .mid-left {
    padding: 5px 15px;
    width: 106px;
    border-right: 1px white solid;
    max-height: 33px;
    margin-top: 10px !important;
    
  }

  .mid-right {
    padding: 0 11px;
    width: auto;
  }

}

