/*********************************************************************/
/***************************  ProgressBar  ***************************/
/*********************************************************************/
.indexedStep {
    color: black;
    width: 40px;
    height: 40px;
    font-size: 12px;
    background-color: white;
    border-radius: 100px;
    border: 2px solid rgba(215, 85, 83, 1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .indexedStep.accomplished {
    background-color: rgba(215, 85, 83, 1);
  }

  .RSPBprogression {
    background: rgba(215, 85, 83, 1) !important;
  }

  .barContainer {
      width: 80vw;
      margin: 60px 10vw 0 10vw;
  }